/.idea/
/target
/lib
/classes
/checkouts
pom.xml
*.jar
*.class
*.iml
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-repl-history
.specljs-timestamp

!/resources/public/cljs
/resources/public/cljs/*
!/resources/public/cljs/app.js

